@import "tailwindcss";

@theme {
  /* colors */
  --color-header: #fafafa;
  --color-searchBg: #f5f5f5;
  --color-salesBasic: #db4444;
  --color-stars: #ffad33;

  /* fonts */
  --font-Poppins: "Poppins", "sans-serif";
  --font-Inter: "Inter", "sans-serif";
}

@layer utilities {
  .container {
    @apply w-[1170px] mx-auto px-4;
  }
}
