@import "tailwindcss";

@theme {
  /* colors */
  --color-header: #fafafa;
  --color-searchBg: #f5f5f5;

/* fonts */
  --font-Poppins: "Poppins", "sans-serif";
}

@layer utilities {
  .container {
    @apply w-[1170px] mx-auto px-4;
  }
}
